* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.main {
    max-height: 100vh;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    gap: 70px;
    min-height: 540px;
}


.clock {
    position: relative;
    height: 300px;
    background-color: white;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 30px #5e5e5ea6;
}

.point {
    background-color: black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: 140px;
    z-index: 2;
}

.hands {
    position: absolute;
    transform-origin: 2.5px 2.5px;
    bottom: 147.5px;
    left: 147.5px;
    box-shadow: 0px 0px 10px 3px #47394d97;
    border-radius: 2.5px;
}

.hrs {
    background-color: black;
    height: 5px;
    width: 100px;
}

.min {
    background-color: black;
    height: 5px;
    width: 120px;
}

.sec {
    height: 5px;
    width: 120px;
    background: linear-gradient(to right, #4b4b4b, #747474);
}

.digi-cont {
    color: black;
    text-align: center;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.digi-light {
    color: white;
    text-shadow: 2px 1px 8px rgba(255, 255, 255, 0.25);
}

.time {
    font-size: 5rem;
}

.date {
    font-size: 1.2rem;
}

.toggle-darkmode {
    position: absolute;
    top: 20px;
    right: 50px;
}

.toggle-button {
    width: 100px;
    height: 40px;
    position: relative;
    display: block;
    border-radius: 40px;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.4), inset 0px 1px 5px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transform: 0.3s;
    border: none;
}

.sliderknob {
    position: absolute;
    width: 30px;
    height: 30px;
    background: linear-gradient(180deg, #ffcc89, #d8890f);
    bottom: 5px;
    left: 5px;
    border-radius: 15px;
    transition: transform 0.3s;
    z-index: 1;
    transition: all 0.3s;
}

.sun-moon {
    position: relative;
    padding-top: 3px;
    display: flex;
    gap: 17px;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.sun {
    fill: black;
}

.moon {
    fill: #747474;
}

.lirk {
    display: none;
}

.main-light {
    background-color: black;
}

.point-hand {
    background-color: white;
}
.dark-slider {
  background: linear-gradient(to right, #4b4b4b, #747474);
  transform: translateX(200%);
}
